body {
  height: 100vh;
  width: 100vw;
  background-color: black;
}
.TdList {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: red double 6px;
  border-radius: 5%;
  height: 80%;
  width: 50%;
  left: 25%;
  background-color: rgb(233, 233, 233);
}

button {
  background: linear-gradient(
    #e5f4f9,
    #b2e0ef,
    #7fcce5,
    #0089b7,
    #0099cc,
    #b2e0ef
  );
  border: black solid 1px;
  border-radius: 40%;
  transform: scale(1.5);
  margin: 2rem;
  font-family: Arial;
  position: relative;
  top: -43%;
}

input {
  border: none;
  border-radius: 5%;
  transform: scale(1.5);
  margin: 2rem;
  position: relative;
  top: -43%;
}
