body {
  height: 100vh;
  width: 100vw;
  background-color: black;
}
.TdList {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: red double 6px;
  border-radius: 5%;
  height: 80%;
  width: 50%;
  left: 25%;
  background-color: rgb(233, 233, 233);
}
